{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": ["> 0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-private-methods",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
